# set project ignore file

# foldes
.wing
bin-debug
bin-release
.svn/
template

#project files
*.orgi
index.html
.DS_Store
libs
libs/exml.e.d.ts
resource/default.thm.json
manifest.json
tsconfig.json
wingProperties.json
egretProperties.json
